<%- include("header") -%>
  <body>
    <div class="container">
      <h1>What's the Weather?</h1>


  <form class="form-group" action="/" method="get">
    <label for="city">Try again</label>
    <!-- <input type="text" class="form-control" name="city" id="city" placeholder="Eg.London/Tokyo" > -->
    <button type="submit" class="btn btn-primary">Ok</button>
  
  </form>
<div id="weather">

<div class="alert alert-danger">
  
  <p>Invalid input / City not found</p>

</div>


</div>

    </div>
    
</body>
<%- include("footer") -%>